In [1]:
print("Simple Calculator")

# Get input from user
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
operator = input("Enter operator (+, -, *, /): ")


if operator == '+':
    result = num1 + num2
elif operator == '-':
    result = num1 - num2
elif operator == '*':
    result = num1 * num2
elif operator == '/':
    if num2 != 0:  
        result = num1 / num2
    else:
        result = "Error! Division by zero is not allowed."
else:
    result = "Error! Invalid operator."

# Display the result
print(f"Result: {result}")

Simple Calculator

Enter first number:  2
Enter second number:  3
Enter operator (+, -, *, /):  +

Result: 5.0

In [ ]:
b=Searches the string for a specified value and returns the position of where it was found
print(b[15:20])

In [13]:
b="Searches the string for a specified value and returns the position of where it was found"
print(b[-63:-21])

 specified value and returns the position

In [17]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [18]:
text = "hello world"
capitalized_text = text.capitalize()
print(capitalized_text)

Hello world

In [19]:
text = "hello WORLD"
capitalized_text = text.capitalize()
print(capitalized_text)

Hello world

In [20]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [27]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [30]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]

thislist[1:3] = ["cake", "hassan"]

print(thislist)

['apple', 'cake', 'hassan', 'orange', 'kiwi', 'mango']

In [31]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [32]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [33]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [34]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [42]:
thislist = [100, 50, 65, 82, 23]
newlist=thislist.copy
print(thislist)

[100, 50, 65, 82, 23]

In [43]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [44]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [1]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]
   
list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [2]:
list = ["apple", "banana", "cherry"]
list[1:3] = ["watermelon"]
print(list)

['apple', 'watermelon']

In [3]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [4]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [11]:
list1=["qamar","junaid"]
list1.insert(1,"hanzala")
print(list1)

['qamar', 'hanzala', 'junaid']

In [13]:
tuple = ("apple", "banana", "cherry")
print(tuple)

('apple', 'banana', 'cherry')

In [14]:
print(type(tuple))

<class 'tuple'>

In [15]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [26]:
thistuple = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thistuple[-4:-1])

['orange', 'kiwi', 'melon']

In [11]:
#funtion 
def my_function(fname="qaamr"):
  print(fname + " Refsnes")
my_function()

qaamr Refsnes

In [15]:
def my_function(*kids):
  print("The youngest child is " + kids[-1])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [20]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [21]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [24]:
def my_function(x):
  return 2 ** x

print(my_function(3))
print(my_function(5))
print(my_function(9))

8
32
512

In [28]:
def my_function(x, /):
  print(x)

my_function("qamr")

qamr

In [29]:
def my_function(a, b, /, *, c, d):
  print(a + b + c + d)

my_function(5, 6, c = 7, d = 8)

26

In [34]:
cars = ["Ford", "Volvo", "BMW"]

cars.append("Honda")
cars.remove("Volvo")
print(cars)

['Ford', 'Volvo', 'BMW', 'Honda']

In [31]:
name = ["qamar", "hassan", "sultan"]

cars.remove("Volvo")


print(cars)

['Ford', 'BMW']

In [33]:
cars = ["Ford", "Volvo", "BMW"]

cars.re(2)

print(cars)

['Ford', 'Volvo']